<!-- Default Statcounter code for Personal Website https://www.juanestrada.info/
-->
<script type="text/javascript">
var sc_project=12520332; 
var sc_invisible=1; 
var sc_security="74aa18ab"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
StatCounter" href="https://statcounter.com/" target="_blank"><img
class="statcounter" src="https://c.statcounter.com/12520332/0/74aa18ab/1/"
alt="Web Analytics Made Easy - StatCounter"></a></div></noscript>
<!-- End of Statcounter Code -->
